<h2>Overview</h2>
<p>{{.material_overview}}</p>
<h2>Key Concepts</h2>
<ul>
{{- range .key_concepts}}
    <li>{{.}}</li>
{{- end}}
</ul>
<h2>Reading</h2>
<ul>
    <li>{{.book}}: Chapter {{.chapter}}</li>
</ul>
<h2>Slides</h2>
<ul>
    <li>PPTX, PDF</li>
</ul>
